# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\BSCS 3- 1ST SEM\APPLICATIONS DEVELOPMENT - 9433 - CS_311\CS311-activity-4-and-5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
